@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neon glow effect */
.neon-text {
  text-shadow: 0 0 5px #33ff33, 0 0 10px #33ff33, 0 0 20px #33ff33,
    0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  100% {
    text-shadow: 0 0 5px #33ff33, 0 0 10px #33ff33, 0 0 20px #33ff33,
      0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00;
    opacity: 1;
  }
  20%,
  63% {
    text-shadow: 0 0 2px #33ff33, 0 0 4px #33ff33, 0 0 8px #33ff33,
      0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00;
    opacity: 0.8;
  }
  80% {
    opacity: 0.5;
  }
}

/* Button Layout Adjustments */
@media (max-width: 600px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds space between buttons */
  }

  .buttons-container button {
    width: 80%; /* Makes buttons smaller for mobile */
  }
}

/* Adjust text positioning on the preview page */
@media (max-width: 600px) {
  .neon-text {
    font-size: 2rem; /* Smaller font size for mobile */
    text-align: center;
    margin-top: 20px;
  }

  .preview-text-container {
    font-size: 1.5rem; /* Adjust font size */
    text-align: center;
  }
}

/* Make the Rubik's cube container responsive */
@media (max-width: 600px) {
  .rubiks-cube-container {
    width: 90vw; /* Use viewport width */
    height: auto;
  }
}

